body{
    background-color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem ;
}


header div{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding:   2%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

header div img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.container{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    height: 90dvh ;
    flex-direction: row;
    margin: 2rem auto;
    max-width: 900px;
    align-items: center;
}

h1{
    font-size: 1.2rem;
}


.portada{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    background-image: url(trabajadora-Sadeco_1558654582_136006719_667x375.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70dvh !important;
    border-radius: 10px;
}

.item1,.item2 {
    background-color: rgba(138, 43, 226,0.6);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 10px;
}

hr{
    border: 2px white solid;
    width: 50%;
}

.primera_seccion {
    text-align: center; 
    background-color: rgb(26, 26, 76);
    color: aliceblue; 
    height: 90dvh;
}
.contenido_seccion1 {
    display: flex;
    justify-content: center;
    align-items: center;;
}
.contenido_seccion1 span {
    margin-left: 10%;
    max-width: 50%;
}

.contenido_seccion1 img {
    background-color: antiquewhite;
    margin-left: 50px;
    width: 9rem;
}

.boton{
    padding:1dvi;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(26, 26, 76);
}



.boton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(26, 26, 76);
    border: 1px solid rgb(255, 255, 255);
    transition: 1s;
}

.contenido_seccion1 img {
    background-color: antiquewhite;
    margin-left: 50px; 
    width: 9rem;
}

.segunda_seccion{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: aliceblue;
    color: rgb(26, 26, 76);
    height: 100dvh;
}

.testimonios{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.testimonios span{
    color: rgb(26, 26, 76);
}

.testimonios div{
    color: aliceblue;
    border-radius: 10px ;
}

.tipos_preparacion{
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 0 auto;

}   

.tipos_preparacion div{
    background-color: rgb(26,26,76);
    color: aliceblue;
    border-radius: 10px ;
    height: 30dvh;
}


.tipos_preparacion div span{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    color: aliceblue;
    font-size: 1rem;
}

.tercera_seccion{
    text-align: center; 
    background-color: rgb(26, 26, 76);
    color: aliceblue;
    height: 100dvh;
    flex-direction: column;
}

.preguntas_imagen{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.preguntas_imagen div img{
    width: 100%;
    height:  auto;
    margin: 5rem;
}

.desplegable {
    width: 100%;
    max-width: 20dvh;
    font-family: sans-serif;
}

.desplegable-item {
    border-bottom: 1px solid #ddd;
}

.desplegable-title {
    display: flex;
    font-size: 0.8rem !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:rgb(26, 26, 76);
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 1s ease;
}
.desplegable-title i {
    font-size: 1rem;
    transition: transform 2s ease;
}
.desplegable-title:hover {
    background-color: #e6e6e6;
    color: rgb(26, 26, 76);
}
.desplegable-content {
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    font-size: 0.6rem;
}
.desplegable-item.active .desplegable-content {
    max-height: 100dvh;
}
.desplegable-item.active .desplegable-title i {
    transform: rotate(180deg);
}

.cuarta_seccion{
    text-align: center;
    color: rgb(26,26,76);
    height: 92dvh !important;
    background-color: aliceblue;
    padding: 5px;
}
iframe{
    width: 70%;
    padding: 4px;
    background-color: rgb(26, 26, 76);
    border-radius: 10px;
}

.cuarta_seccion hr{
    border: 2px rgb(26, 26, 76) solid;
    width: 40%;
}



a{
    text-decoration: none;
    color: rgb(26, 26, 76);
}











.footer {
    background-color: rgb(26, 26, 76);
    color: white;
    padding: 10px;
    text-align: center;
    height: 40dvh !important;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}


@media (min-width:768px ) {
    body {
        font-size: 1.2rem; /* Tamaño de fuente aumentado para pantallas grandes */
    }
    h1 {
        font-size: 1.8rem; /* Tamaño de fuente aumentado para pantallas grandes */
    }
    p {
        font-size: 1rem; /* Tamaño de fuente aumentado para párrafos en pantallas grandes */
    }
    .segunda_seccion{
        flex-direction: row;
        align-items: center;
        height: 90dvh;
    }
    .tipos_preparacion{
        height: 50%;
        width: 30%;
        text-align: center;
    }   
    .testimonios{
        height: 100%;
        width: 30%;
        margin: 0 auto;
    }
    .tipos_preparacion div{
        background-color: rgb(26,26,76);
        color: aliceblue;
        padding: 10px;
        border-radius: 10px ;
        height: 25dvh;
        display: flex;
    }
    .primera_seccion {
        text-align: center; 
        background-color: rgb(26, 26, 76);
        color: aliceblue; 
        height: 80dvh;;
    }


    .tercera_seccion{
        height: 90dvh !important;
    }

    .preguntas_imagen{
        flex-direction:row ;
    }

    .preguntas_imagen div img{
        width: 40%;
        height:  auto;
        margin-left: 2rem;
        
    }


    .desplegable-title {
        display: flex;
        font-size: 1.2rem !important;
    }

    .desplegable-content {
        font-size: 0.7rem;
    }


    .container{
        padding: 2%;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        height: 80dvh ;
    }
    .desplegable {
        width: 100%;
        max-width: 300px;
        font-family: sans-serif;
    }    
    .boton{
        width: 80%;
    }

    iframe{
        width: 40%;
    }

    .cuarta_seccion{
        text-align: center;
        color: rgb(26,26,76);
        height: 95dvh !important;
        background-color: aliceblue;
    }
    

    
}


@media (min-width:421px) and (max-width:768px) {

    body{
        font-size: 1rem;
    }
    h1{
        font-size: 1.8rem;
    }

    .container{
        padding: 10px;
    }
    .tipos_preparacion {
        width: 80%;
        height: 90%;
        margin: 0 auto;
    }

    .tipos_preparacion div{
        height: 20vh;
    }


    .preguntas_imagen div img{
        width: 10rem;
        margin-right: 5rem;
    }

    .desplegable {
        width: 100%;
        max-width: 300px;
        font-family: sans-serif;
    }

    .footer{
        padding: 10px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.75); }
    to { opacity: 1; transform: scale(1); }
}

.container.animate {
    animation: fadeIn 1s forwards;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container.tercera_seccion.animate {
    animation: slideInFromRight 1s forwards;
}



@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container.cuarta_seccion.animate {
    animation: slideInFromTop 1s forwards;
}

